.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.textField {
    margin-top: 5vh !important;
    margin-left: 1vw !important;
}

.button {
    margin-top: 5vh !important;
    margin-left: 1vw !important;
}